data/raw_iq/*
!data/raw_iq/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/labels/*
!data/labels/.gitkeep

models/checkpoints/*
!models/checkpoints/.gitkeep

models/tflite/*
!models/tflite/.gitkeep

logs/*
!logs/.gitkeep

__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints
.env
.venv/
venv/
.vscode/
.idea/
.DS_Store
